<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        cacheDirectory="var/.phpunit.cache"
        executionOrder="depends,defects"
        resolveDependencies="true"
        failOnRisky="true"
        failOnWarning="true"
        stopOnFailure="false"
        stopOnError="false"
        stopOnRisky="false"
        colors="true"
        backupGlobals="false"
        beStrictAboutOutputDuringTests="true"
        defaultTestSuite="unit"
>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
